.all_dms_combo_box_container {
  min-height: 56px;
  padding: 0.625rem 1rem;
  background: #fff;
  display: flex;
  align-items: center;
}

.all_dms_combo_box_container > p {
  margin: 0 0.625rem 0 0;
  font-size: 0.812rem;
}

.all_dms_combo_box_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.all_dms_combo_box_content > input {
  width: 100%;
  outline: none;
  border: none;
}
